{% import 'forms.html.jinja' as forms with context %}
{% include 'header.html.jinja' %}

<script src="{{ url_for('static', filename='app.js') }}"></script>
<body>
    <h1>Ledit</h1>
    {%- for device in devices %}
        <div>
            <h2>{{ device.name }}</h2>
            <p>
                {{- forms.device_effects('device', device, effects) -}}
            </p>
        </div>
    {%- endfor %}
    <h2>Devices</h2>
    {%- for device in devices %}
        <p>
            {{- forms.edit('device', device) -}}
        </p>
    {%- endfor %}
    <h2>Effects</h2>
    {%- for effect in effects %}
        <p>
            {{- forms.edit('effect', effect) -}}
        </p>
    {%- endfor %}
    <h2>Bindings</h2>
    {%- for binding in bindings %}
        <p>
            {{- forms.edit('binding', binding) -}}
        </p>
    {%- endfor %}
</body>

{% include 'footer.html.jinja' %}
